# Python Operators
    Logical
    Equality
    Comparision
    Arithmetic

# 4.1.1 Logical Operators
In python following keywords are used for boolean operations -

Keywords	 Meaning
    not	     unary negation
    and	     conditional AND
    or	     conditional OR

In [1]:
type(False)

bool

In [2]:
bool(1)

True

In [3]:
bool(0)

False

In [4]:
a=True
b=False

In [5]:
True and False

False

In [6]:
True or False

True

In [7]:
not False

True

In [9]:
age=int(input("Enter the age"))
if age<18 or age>=35:
    print("Successful execution")

Enter the age15
Successful execution

# Equality Operators
Following operations are present in python for equlity check operation-


Operators	 Meaning
is	         a is b returns true if variable/identifiers a and b points to the same object
is not	     a is not b returns true if variable/identifiers a and b points to the different object
==	         a == b returns true if variable/identifiers a and b has same value
!=	         a != b returns true if variable/identifiers a and b has different value

In [10]:
a="Krish"
b="Krish1"

a==b

False

In [11]:
a="Krish"
b="Krish1"

a is b

False

In [12]:
a="Krish"
b="Krish1"

a is not b

True

In [13]:
a="Diksha"
b="Soni"

a != b

True

In [14]:
print("5"+"5")

55

In [16]:
a="Diksha"
b="Soni"
print(id(a))
print(id(b))

2425476214704
2425476236528

In [17]:
lst=[1,2,3]
lst1=[1,2,3]
print(id(lst))
print(id(lst1))

2425475910464
2425475829696

# comparison operators


Operation	 Meaning

<	        less than
<=	        less than or equal to
>	        greater than
>=	        greater than or equal to

In [19]:
marks= float(input("Enter the marks"))

if marks>=35:
    print("Pass")
    if marks>=50 and marks<=70:
        print("First")
elif marks<35:
    print("Fail")

Enter the marks55
Pass
First

# Arithmetic Operators


Operation	Meaning
+	        addition
-	        subtraction
*	        multiplication
/	        true division
//	        integer division
%	        the modulo operator

In [20]:
print(24+24)

print(48-24)

print(48*24)

print(48/4)

print(48//5)

print(48%5)

48
24
1152
12.0
9
3